@font-face {
    font-family: normal;
    src: url(Unbounded-Regular.ttf);
}

body {
    font-size:medium;
    text-align: justify;
    font-family: normal;
    margin: auto;
    width: 80%;
    padding: 7%;
    color: transparent;
    text-shadow: 0px 0px 4px #383838;
    background-color: #161616;
}

.active {
    color: #ffffff;
    text-shadow: 0px 0px 20px #ffffffbb;
    transition: 0.25s;
}

div{
    display: inline-block;
}