@font-face {
    font-family: normal;
    src: url(Unbounded-Regular.ttf);
}

*{
    font-size:medium;
    font-family: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
}

body {
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #161616;
}

.target_div {
    position: absolute;
    top: 0px;
    display: none;
    justify-content: center;
    width: 100%;
}

.fast_counter{
    font-size: 4vw;
}

.countdown_high_div{
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.t_seconds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32%;
    text-align: center;
}
  
.t_seconds img {
    width: 100%;
    height: auto;
  } 

.t_minutes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    text-align: center;
}

.t_minutes img {
  width: 100%;
  height: auto;
}

.t_hours {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64%;
    text-align: center;
}

.t_hours img {
  width: 100%;
  height: auto;
} 
